@import url('https://fonts.googleapis.com/css?family=Dokdo');

#root, html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font: 14px 'Dokdo';
    background-color: #abd3e3;
}

button{
    color: inherit;
    font-family: inherit;
    border: none;
    background: none;
}

button:focus{
    outline: none;
}

.board__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    width: 400px;
    height: 400px;
}
    .board__history{
        transition: margin-top ease 1s;
        width: 100%;
        line-height: 40px;
        height: 40px;
        background-color: #fff;
        font-size: 18px;
    }

    .board__history-item{
        cursor: pointer;
        margin-left: 20px;
    }

    .board__history-hidden{
        margin-top: -40px;
    }

    .board__status {
        font-weight: 700;
        font-size: 52px;
        color: #FFF;
    }
    .board__panel{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        width: 400px;
        height: 40px;
        border-radius: 15px;
        margin-bottom: 3px;
    }

    .board__item{
        text-align: center;
        cursor: pointer;
        font-size: 18px;
    }

    .board__square {
        display: flex;
        transition: background-color ease 300ms;
        border-radius: 15px;
        background-color: #fff;
        color: #FFF;
        font-size: 72px;
        justify-content: center;
        align-items: center;
    }

    .board__square-hover {
        background-color: #FFE0BD;
    }

    .board__square-active {
        background-color: #FFE0BD;
    }

    .board__square-win {
        background-color: #8cd6ad;
    }

    .board__square-tie {
        background-color: #fff999;
    }

