@import url('https://fonts.googleapis.com/css?family=Dokdo');

html, body{
    height: 100%;
}
body {
    font: 14px 'Dokdo';
    background-color: #62a2d0;
}

#root{
    height: 100%;
}

.board__wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    width: 400px;
    height: 400px;
}

    .board__square{
        display: flex;
        transition: background-color ease 300ms;
        border-radius: 5px;
        background-color: #fff;
        color: #323232;
        font-size: 72px;
        justify-content: center;
        align-items: center;
    }

    .board__square-hover{
        background-color: #91b1c8;
    }

    .board__square-active{
        background-color: #91b1c8;
    }